################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyBusiness.Apis/bin/Debug/net5.0
/MyBusiness.DataAccess/obj
/MyBusiness.Models/obj
