
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<h1> User manager</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td>  User Id </td>
        <td>  User Name</td>
        <td>  Email</td>
    </tr>
    @foreach (var usr in Model)
    {
        <tr>
            <td>  @usr.Id </td>
            <td>  @usr.UserName</td>
            <td>  @usr.Email</td>
        </tr>
    }
</table>