
@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>
<h1> User manager</h1>

<table class="table table-striped table-bordered">
    <tr>
        <td>  User Id </td>
        <td>  User Name</td>
        <td>  Email</td>
    </tr>
    @foreach (var c in Model)
    {
        <tr>
            <td>  @c.Id </td>
            <td>  @c.UserName</td>
            <td>  @c.Email</td>
        </tr>
    }
</table>